{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-4">
        <h1>Editer le bien</h1>
        <div class="row">
        <div class="col-md-8">
                          <img src="http://localhost/MaSuperAgence/public/images/properties/{{property.filename }} " width="232"  />
                      </div>
  </div>
        {{ include('admin/property/_form.html.twig', {button: 'Editer'}) }}
    </div>

{% endblock %}
